:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --btn-size: 40px;
  /* annimations */
  --annimations-duration: 250ms;
}

* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: auto;
  text-align: center;
  background-color: var(--color-black);
}
button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  transition: all var(--annimations-duration) ease-in-out;
}
button:hover {
  transform: scale(1.1);
}
::-webkit-scrollbar {
  width: 6px;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: dimgray;
  border-radius: 4px;
}

.logo {
  width: fit-content;
  margin: auto;
}
.shopping__container {
  margin-top: 60px;
  display: flex;
  flex-flow: column;
}
.categories {
  display: flex;
  margin: auto;
}
.clothes__t-shirts {
  margin-right: 10px;
}
.clothes__pants,
.clothes__skirts {
  margin: 0px 10px;
}
.categories__clothes {
  display: flex;
}
.categories__clothes img {
  width: var(--btn-size);
  height: var(--btn-size);
}
.categories__colors {
  display: flex;
}
.categories__colors button {
  border-radius: 2px;
}
.categories__colors button {
  margin: 4px;
  padding: 6px 10px;
  height: 36px;
}
.colors__blue {
  background-color: var(--color-blue);
}
.colors__yellow {
  background-color: var(--color-yellow);
}
.colors__pink {
  background-color: var(--color-pink);
}
.items {
  background-color: rgb(1, 1, 1, 0.1);
  border-radius: 6px;
  width: 380px;
  height: 460px;
  margin: auto;
  padding-left: 0;
  margin-top: 36px;
  overflow: auto;
  display: flex;
  flex-flow: column;
}
.items li {
  display: flex;
  margin: 4px 0px;
  width: 100%;
  background-color: var(--color-white);
  border-radius: 6px;
  align-items: center;
}
.items li img {
  margin: 4px 14px;
  width: 40px;
  height: 40px;
}
